<link rel="stylesheet" href="/assets/css/header.css">
<header class="site-header" role="banner">
  <nav class="navbar">
    <div class="logo">
        <a rel="author" href="{{ "/" | relative_url }}">
          <img src="{{ '/assets/images/favicon.svg' | relative_url }}" alt="Logo Icon" class="logo-icon">{{ site.title | escape }}
        </a>
    </div>

    <a href="{{ "/download" | relative_url }}" class="cta">Download</a>
  </nav>

  <div class="header-content">
    <h1>{{ page.title | default: "&nbsp;" }}</h1>
  </div>

  <!-- Smooth center dip curve -->
  <div class="header-curve">
    <svg viewBox="0 0 1440 120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <path d="M0,60 C360,120 1080,120 1440,60 L1440,150 L0,150 Z" fill="#fdfdfd"/>
    </svg>
  </div>
</header>
